@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


/* base rule  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
html{
  font-size: 62.5%;
  /* 1rem=10px */
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Poppins", sans-serif;
}
p,li,a,label{
  font-family:"Urbanist", sans-serif ;
  font-size: 1.3rem;
  letter-spacing: .1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}



/* theme */
:root{
  --main-color:#0062ff;
  --supporting-color:#ebf3fe;
  --font-color:#424242;
  --bg-color:#f7fcff;
  --heading-color:#000a19;
  --para-color:#504e4d;
  --h-color:#003b99;
  --white-color:#fff;
  --test:#070101;
  --btn-hover-bg-color:#003b99;
  --btn-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* layout */
.container{
  max-width: 128rem;
  margin: 0 auto;
  padding: 8.5rem 2.4rem;
}
.section-why--choose .container:first-child{
padding: 6.4rem 2.4rem 2.4rem 2.4rem;

}
.container-grid-two-cols{
  max-width: 128rem;
  margin: 0 auto;
  padding: 8.5rem 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-about .container-grid-three-cols{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10rem;
  margin-bottom: 4rem;
  gap: 6.4rem;
  
}
.container-grid-four-cols{
  max-width: 128rem;
  margin: 0 auto;
  padding: 5.5rem 2.4rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 3.2rem;
}
.section-why--choose .container-grid-three-cols{
  max-width: 128rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 9.6rem;
}



/* .grid-two--cols{
 
} */

/* module / reusable  */

.fa-brands{
  padding: 2.4rem;
  background-color: var(--supporting-color);
  font-size: 2.7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--h-color);
}



.section-common-heading{
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
}
.section-common-subheading{
  color: var(--heading-color);
}

.section-common--title{
  font-size: 2rem;
  margin: 3.5rem 0 1.2rem 0;
}


.btn{
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  color: var(--white-color);
  border-radius: .6rem;
  -webkit-border-radius: .6rem;
  -moz-border-radius: .6rem;
  -ms-border-radius: .6rem;
  -o-border-radius: .6rem;
}

/* states  */
.btn:hover{
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}




/*? start navbar */
.section-navbar{
  width: 100%;
  box-shadow:  rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}
.section-navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
}
.section-navbar .navbar ul{
  display: flex;
  gap: 3.2rem;
  text-transform: capitalize;
  
  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    position: relative;
    font-size: 1.6rem;

    &::after{
      content: "";
      position: absolute;
      bottom: -.3rem;
      left: 0;
      width: 0%;
      border-bottom: .2rem solid var(--main-color);
      transition: all .3s linear;
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      -ms-transition: all .3s linear;
      -o-transition: all .3s linear;
}
  }
  & li a:hover:after{
    width: 100%;
  }
}
/*? end navbar  */


/*? hero section */

.section-hero > div {
  margin: 0 10rem;
  display: grid;
  grid-template-columns:1fr 1fr;
}
.section-hero--content{
  margin: 10rem 0;
}
.section-hero .grid{
  align-items: center;
  gap: 3rem;
}
.section-hero .hero-subheading{
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.4rem;
  word-spacing: .17rem;
  color: var(--h-color);
  font-weight: 700;
}
.section-hero .hero-heading{
  font-size: 5.8rem;
  /* line-height: 1.5rem; */
  font-family: 'Times New Roman', Times, serif;
  color: var(--h-color);
  font-weight: 900;
}
.section-hero .hero-para{
  color: var(--white-color);
  margin: 1.5rem 0 3rem 0;

}

main{
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.sectiom-hero--image img{
  width: 100%;
  height: auto;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
/* .custom-shape-divider-bottom-1717846302 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1717846302 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 180px;
}

.custom-shape-divider-bottom-1717846302 .shape-fill {
  fill: #FFFFFF;
} */

/* ?end hero section */


/** about section  */

.section-about .about-div{
  text-align: center;
}

.section-about img{
  padding: 2.4rem;
  background-color: var(--supporting-color);
  width: 15rem;
  height: auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all .4s linear;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
}
.icon:hover >img{
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background-image: linear-gradient(to right,#0575e6,#021b79);
}




/** about section  */


/*! course section */

.section-course{
  background-color: var(--bg-color);
}

.section-course .course-div{
  padding: 3.2rem;
}



.section-course .course-div:hover{
  box-shadow: var(--btn-box-shadow);
}



/*! course section */


/*? why choose  */


.section-why--choose .text-align-right .why-choose--div{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.common-text-highlight{
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.choose-center--div img{
  width: 90%;
  height: auto;
}
.why-choose--div{
  margin-top:2.8rem ;
}
.choose-center--div,figure{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.choose-center--div figure::before,
.choose-center--div figure::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-color: var(--main-color);
  width: 45rem;
  aspect-ratio: 1;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
 
}

.choose-center--div figure::before{
  animation: circle 7s linear  infinite alternate;
  -webkit-animation: circle 7s linear  infinite alternate;
}

@keyframes circle{
  0%{
    background-color: #b3d0ff;
  }
  25%{
    background-color: #80b1ff;
  }
  50%{
    background-color: #4d91ff;
  }
  75%{
    background-color: #99c0ff;
  }
  100%{
    background-color: #3381ff;
  }
}

.choose-center--div figure::after{
  width: 50rem;
  aspect-ratio: 1;
  z-index: -2;
  background-color: transparent;
  border: .5rem solid var(--supporting-color);
}



/*? why choose  */

/* * contact_home_section */

.section-contact-homepage{
  width: 60%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 5rem;
  border-radius:.2rem ;
  -webkit-border-radius:.2rem ;
  -moz-border-radius:.2rem ;
  -ms-border-radius:.2rem ;
  -o-border-radius:.2rem ;
  padding: 0 3.2rem;
  position: relative;
  bottom: -15rem;
  background-color: var(--white-color);
}

.section-contact-homepage img{
  width: 85%;
  height: auto;
  
}

.section-contact-homepage a {
  color: var(--white-color);
  text-transform: capitalize;
}

.section-contact-homepage>div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5.5rem;
}

.contact-title{
  font-size: 3.8rem;
  line-height: 1.2;
  
}

.contact-content p{
  margin: 1.2rem 0 2.4rem 0;
}
.section-contact-homepage .container:first-child{
  padding: 6.4rem 0 2.4rem 0;
}

/* * contact_home_section */


/*! footer section */

footer{
  background-color: #040d12;
  padding-top: 15rem;
}
footer *{
  color: var(--white-color);
}

.footer-subheading{
  font-size: 2.2rem;
  font-weight: 700;
}
.footer-1--div{
  text-align: left;
}

footer .container-grid-four-cols{
  text-align: right;
}

.footer-1--div p{
  margin: 1rem 0 3.2rem 0;
}
.social-footer-icons a>.fa-brands{
  padding: 1.1rem;
  font-size: 1.5rem;
  margin: 0 .3rem;
  transition: all .4s linear;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
}
.social-footer-icons a>.fa-brands:hover{
  color: var(--supporting-color);
  background-color: var(--btn-hover-bg-color);
  rotate: 360deg;
}





/*! footer section */


/*? css blog section  */
.section-blog{
  background-color: var(--bg-color);


  & .blog{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: .7rem;
    transition: scale .3s linear;
    -webkit-transition: scale .3s linear;
    -moz-transition: scale .3s linear;
    -ms-transition: scale .3s linear;
    -o-transition: scale .3s linear;
    &:hover{
      scale: 1.1;
    }
}

  & .blog-date{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0;
  }
}
.section-blog img{
  width: 100%;
  height: auto;
}
.blog-date p>.fa-regular{
  padding: 0;
  font-size: 1.5rem;
  margin: .3rem;
  color: var(--btn-hover-bg-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.blog-date p>.fa-solid{
  padding: 0;
  font-size: 1.5rem;
  margin: 0 .3rem;
  color: var(--btn-hover-bg-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.blog-content>.section-common--title{
  margin: 0;
  font-size: 1.5rem;
}

/*? css blog section  */


/** css contact section  */
.grid-two-cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}
::placeholder{
  font-size: 1.6rem;
  letter-spacing: .1rem;
}
.mb-3{
  margin-bottom: 3.2rem;
}
label{
  display: block;
  text-transform: capitalize;
}
input,textarea{
  width: 100%;
  padding: 1.2rem 2.4rem;
  font-size: 1.7rem;
  letter-spacing: .1rem;
}





/** css contact section  */

::-webkit-scrollbar{
  width: 1rem;
}
::-webkit-scrollbar-track{
  background-color: var(--supporting-color);
}
::-webkit-scrollbar-thumb{
  background: var(--main-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background: var(--heading-color);
}

input:focus-visible,textarea:focus-visible{
  outline: .1rem solid var(--btn-hover-bg-color);
}



/*! css media quires section  */
@media(width <= 1015px) {
  html{
    font-size: 56.25%;
  }

  .section-hero img{
    width: 90%;
  }
}

@media(width <= 990px){
  .section-hero{
    height: auto;
    padding-bottom: 5rem;
  }
  .section-hero > div{
    grid-template-columns: 1fr;
  }
  .section-hero .section-hero--content{
    order: 2;
  }
  .section-hero .sectiom-hero--image{
    order: 1;
  }
  .section-hero .sectiom-hero--image img{
    width: 139%;
  }

  .section-about .about-div{
    text-align: left;
  }
 

}


@media (width <= 850px){
 .container-grid-four-cols{
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}


@media (width <=768px){
 .section-hero .container-grid-two-cols,
  .section-about .container-grid-three-cols,
  .section-why--choose .container-grid-three-cols{
    grid-template-columns: 1fr;
  }

  .section-navbar .container{
    display: flex;
    flex-direction: column;

    & .navbar-brand{
      text-align: center;
      margin-bottom: 2.4rem;
    }
  }

  .section-why--choose .choose-center--div img{
   width: 30%;
  }

  .section-why--choose .text-align-right .why-choose--div{
    /* display: flex;
    flex-direction: column;
    justify-content: start; */
    align-items: start;
    text-align: left;
  }

  .section-navbar .navbar ul{
    gap: 2rem;
  }
  .section-hero .hero-heading{
    font-size: 3.8rem;
  }
  .section-hero .hero-para{
    font-size: 1.2rem;
  }
  .section-hero .grid {
    gap: 0;
  }
  .section-why--choose .container-grid-three-cols{
    gap: 0;
  }
  .section-contact-homepage img{
    width: 75%;
    height: auto;

  }
  .section-contact-homepage>div{
    grid-template-columns: 1fr;
  }
  .contact-title{
    font-size: 2rem;
  }
  /* footer .container-grid-four-cols{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  } */

  .grid-two-cols{
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media (width <= 1250px){
  .section-why--choose{

    & .choose-left--div{
      order: 2;
    }
    & .choose-right--div{
      order: 3;
    }
    & .choose-center--div{
      order: 1;
    }


    & .choose-center--div{
      & figure::before{
        width: 0;
        height: 0;
        background-color: transparent;
        padding: 0;

      }



      & figure::after{
        width: 0;
        height: 0;
        background-color: transparent;
        padding: 0;
      }
    }
  }
}







/*! css media quires section  */

